<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            {{#link-to 'index'}}
                <i class="fa fa-fw fa-dashboard"></i> Dashboard
            {{/link-to}}
        </li>
        <li>
            {{#link-to 'nodes'}}
                <i class="fa fa-fw fa-arrows-v"></i>
                Nodes <i class="fa fa-fw fa-caret-down"></i>
            {{/link-to}}
            <ul>
                {{#each nodes as |node|}}
                    <li>
                        {{#link-to 'node' node}}
                            <i class="fa fa-fw fa-table"></i>{{capitalize node.name}}
                        {{/link-to}}
                    </li>
                {{else}}
                    <li>Sorry, no nodes were loaded.</li>
                {{/each}}
            </ul>
        </li>
        <li>
            <a href="http://ironsummitmedia.github.io/startbootstrap-sb-admin" target="_blank">Template</a>
        </li>
    </ul>
</div>
