<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    {{link-to 'Monitoring server interface' 'index' class="navbar-brand"}}
</div>
<!-- Top Menu Items -->
<ul class="nav navbar-right top-nav">
   <li class="dropdown">
        <a href="#"><i class="fa fa-user"></i> dsadsa{{session.user.email}} </a>
    </li>
</ul>
